<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Кинобаза</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
		<script src="/javascripts/script.js"></script>
	</head>

	<body>
	    <div class="logout">
            <form id="logout" name="logout" method="post" action="/logout/">
                <div>
                    <input type="submit" value="logout"/>
                </div>
            </form>
        </div>
		<div class="tail-top">
			<div class="tail-bottom">
				<div id="main">
		<!-- HEADER -->
					<div id="header">
						<div class="row-1">
							<div class="fleft"><a href="/">Кино<span>база</span></a></div>
						</div>
						<div class="row-1 search">
							<h3>Поиск по <span>названию:</span></h3>
						    <form action="/search/" method="get" name="search" id="search">
								<div class="field">
									<input type="text" name="inputSearch" id="inputSearch" placeholder="search">
									<a class="search-clear" href="/clear/">Скинуть результат</a>
									<input type="submit" value="Найти фильм">
								</div>
							</form>
						</div>
						<div class="row-2">
						    
							<h3 id="addfilm">Добавить фильм <span class="arrow"></span></h3>

							{% if hint %}
							    <h4><span>Ошибочка: {{hint}}</span></h4>
							{% endif %}

							<form id="upload" name="form" class="hide" method="post" enctype="multipart/form-data" action="/">
                                
                                <fieldset>
                                    <div class="field"><label>Название*: <input type="text" id="title" name="title"></label></div>
                                    <div class="field"><label>Страна: <input type="text" name="country"></label></div>
                                    <div class="field"><label>Жанр: <input type="text" name="genre"></label></div>
                                    <div class="field"><label>Режиссер: <input type="text" name="author"></label></div>
                                    <div class="field"><label>В ролях: <input type="text" name="actors"></label></div>
                                    <div class="field"><label>Продолжительность (мин): <input type="number" min="15" max="300" name="duration"></label></div>
                                    <div class="field"><label>Рейтинг IMDB: <input type="text" name="imdb"></label></div>
                                    <div class="field"><label>Обложка (2MB max): <input type="file" name="preview"></label></div>
                                    <div class="field"><label>Описание*: </label>
                                        <textarea name="about" id="about" cols="30" rows="10"></textarea>
                                    </div>
									* - обязательные поля! <input type="submit" value="Добавить">
								</fieldset>

							</form>
						</div>
						
					</div>
					
		<!-- CONTENT -->
					<div id="content">
						<div class="box">
							<div class="border-right">
								<div class="border-left">
									<div class="inner">
										<h3>Список <span>фильмов</span></h3>
										<ul class="list">
											{% for item in films|reverse %}
												<li data-deleted="{{item._id}}">
													<div>
													    <h4 class="p_title"><a href="/film/{{item._id}}">"{{item.title|escape}}"</a></h4>
														{% if item.preview %}
														<div class="poster"><a href="/film/{{item._id}}"><img src="/images/{{item.preview}}" alt="{{item.title|escape}}" /></a></div>
														{% else %}
														<div class="poster"><a href="/film/{{item._id}}"><img src="/images/no-poster.png" alt="{{item.title|escape}}" /></a></div>
														{% endif %}
														<p class="p1"><span>Страна:</span> {{item.country|escape}}</p>
														<p class="p1"><span>Жанр:</span> {{item.genre|escape}}</p>
														<p class="p1"><span>Режиссер:</span> {{item.author|escape}}</p>
														<p class="p1"><span>В ролях:</span> {{item.actors|escape}}</p>
														<p class="p1"><span>Продолжительность (мин):</span> {{item.duration|escape}}</p>
														<p class="p1"><span>Рейтинг IMDB:</span> {{item.imdb|escape}}</p>
														<p class="p1"><span>Описание:</span> {{item.about|escape}}</p>
													</div>
													<div class="redact">
														<span data-delete="{{item._id}}" class="delete">X delete</span>
														<span class="edit"> edit</span>
                                                    </div>
												</li>
												
												<li class="editform hide">
													<form class="form-edit" method="post" action="/" enctype="multipart/form-data">
                                
														<fieldset>
															<div class="field"><label>Название*: <input type="text" id="title-{{item._id}}" name="title" value="{{item.title|escape}}"></label></div>
															<div class="field"><label>Страна: <input type="text" name="country" value="{{item.country|escape}}"></label></div>
															<div class="field"><label>Жанр: <input type="text" name="genre" value="{{item.genre|escape}}"></label></div>
															<div class="field"><label>Режиссер: <input type="text" name="author" value="{{item.author|escape}}"></label></div>
															<div class="field"><label>В ролях: <input type="text" name="actors" value="{{item.actors|escape}}"></label></div>
															<div class="field"><label>Продолжительность (мин): <input type="number" min="15" max="300" name="duration" value="{{item.duration|escape}}"></label></div>
															<div class="field"><label>Рейтинг IMDB: <input type="text" name="imdb" value="{{item.imdb|escape}}"></label></div>
															<div class="field"><label>Обложка (2MB max): <input type="file" name="preview"></label></div>
															<div class="field"><label>Описание*: </label>
																<textarea name="about" id="about-{{item._id}}" cols="30" rows="10">{{item.about|escape}}</textarea>
															</div>
															<input type="hidden" name="_id" value="{{item._id}}">
															<input type="hidden" name="edit" value="true">
															* - обязательные поля! <input type="submit" class="but-edit" value="Изменить">
														</fieldset>

													</form>
												</li>
											{% endfor %}
										</ul>
										{% if openPager %}
											<div class="paginator">
												<div class="nextpage"><a href="/page/2">Next page >></a></div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
		<!-- FOOTER -->
					<div id="footer">
						<div class="left">
							<div class="right">
								<div class="inside">
									&copy; Верните ex.ua ироды!
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>