<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Кинобаза</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
		{#<script src="/javascripts/script.js"></script>#}
	</head>

	<body>
		<div class="tail-top">
			<div class="tail-bottom">
				<div id="main">
		<!-- HEADER -->
					<div id="header">					
						<div class="row-1">
							<div class="fleft"><a href="/">Кино<span>база</span></a></div>
						</div>
						<div class="row-2">
							{#<h3 id="addfilm">Авторизоваться:</h3>#}
							{% if hint %}
							    <h4><span>Ошибочка: {{hint}}</span></h4>
							{% endif %}
							<form id="login" name="form" method="post" action="/login/">      
                                <fieldset>
                                    <div class="field">
										<input name="username" placeholder="username" type="text"/>
										<input name="password" placeholder="password" type="password"/>
										<input type="submit" value="Войти">
									</div>
								</fieldset>
							</form>
						</div>		
						<div class="row-1 search">
							<h3>Поиск по <span>названию:</span></h3>
						    <form action="/search/" method="get" name="search" id="search">
								<div class="field">
									<input type="text" name="inputSearch" id="inputSearch" placeholder="search">
									<a class="search-clear" href="/clear/">Скинуть результат</a>
									<input type="submit" value="Найти фильм">
								</div>
							</form>
						</div>
					</div>
					
		<!-- CONTENT -->
					<div id="content">
						<div class="box">
							<div class="border-right">
								<div class="border-left">
									<div class="inner">
										<h3>Список <span>фильмов</span></h3>
										<ul class="list">
											{% for item in films %}
												<li>
													<div>
													    <h4 class="p_title"><a href="/film/{{item._id}}">"{{item.title|escape}}"</a></h4>
														{% if item.preview %}
														<div class="poster"><a href="/film/{{item._id}}"><img src="/images/{{item.preview}}" alt="{{item.title|escape}}" /></a></div>
														{% else %}
														<div class="poster"><a href="/film/{{item._id}}"><img src="/images/no-poster.png" alt="{{item.title|escape}}" /></a></div>
														{% endif %}
														<p class="p1"><span>Год:</span> {{item.year|escape}}</p>
														<p class="p1"><span>Страна:</span> {{item.country|escape}}</p>
														<p class="p1"><span>Жанр:</span> {{item.genre|escape}}</p>
														<p class="p1"><span>Режиссер:</span> {{item.author|escape}}</p>
														<p class="p1"><span>В ролях:</span> {{item.actors|escape}}</p>
														<p class="p1"><span>Продолжительность (мин):</span> {{item.duration|escape}}</p>
														<p class="p1"><span>Рейтинг IMDB:</span> {{item.imdb|escape}}</p>
														<p class="p1"><span>Описание:</span> {{item.about|escape}}</p>
														<p class="p1"><span>Дата добавления: :</span> {{item.date|escape}}</p>
													</div>
												</li>
											{% endfor %}
										</ul>
										{% if openPager %}
											<div class="paginator">
												<div class="allpages">
												    <a href="/page/1">&lt;&lt; First page</a>
													{% set n = pages %}
													{% for i in range(1, n) %}
														{% if loop.index == activePage %}
															<a class="active" href="/page/{{i}}">{{i}}</a>
                                                        {% else %}
															<a href="/page/{{i}}">{{i}}</a>
														{% endif %}
													{% endfor %}
													<a href="/page/{{pages}}">Last page >></a>
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
		<!-- FOOTER -->
					<div id="footer">
						<div class="left">
							<div class="right">
								<div class="inside">
									&copy; Верните ex.ua ироды!
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>